body {
  margin: 0;
}

article {
  max-width: 60vw;
}

ul {
  text-align: left;
}

.App {
  background-color:rgb(0,0,0);
  background-image:url(http://www.zingerbugimages.com/backgrounds/multi_colored_stars2.gif);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stirlo-face {
  animation: stirlo-face-spin infinite 20s linear;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes stirlo-face-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
